* {
  box-sizing: border-box;
}
.main-wrapper {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgb(59, 98, 143)
  );
}
.ansDisplayed {
  background-color: rgb(113, 158, 113);
  display: inline-block;
}

.users {
  margin-top: 15px;
}
